#Ignore node_modules folder
node_modules/

#Ignore dockerfiles
Dockerfile
Dockerfile.static
docker-compose.yml
.dockerignore

#Ignore the git and cache folders
.git
.cache

#Ingore all markdown files
*.md